.filters_button {
  @include button-small-ghost;
  @include floating-icon;
  float: left;
  margin: 0 g(1/2) g(1/2) 0;

  &.-active {
    background: $blue;
    color: #fff;
    text-shadow: 0 -1px $shade, 0 0 1em $blue;

    > .icon {
      display: none;

      + .icon {
        display: block;
      }
    }
  }
}

.filters_selection {
  @include clearfix;
  margin-right: g(-1/2);
  min-height: 0;
}
