.row {
  display: table;
  margin: 0 g(-1/2) g(1/2);
  table-layout: fixed;
  width: calc(100% + #{g()});

  &:last-child {
    margin-bottom: 0;
  }

  &.-border {
    box-shadow: 0 -1px $shade inset, 0 1px $shine-weak;
    margin-bottom: g(1/2);
    padding-bottom: g(1/2);
  }

  &.-fluid {
    table-layout: auto;
  }

  &.-centered-on-small {
    @media (max-width: $break-medium) {
      text-align: center;
    }
  }

  .row & {
    margin-bottom: g(1/2);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
